.account-container {
  background-color: #f0f0f0;
  position: relative;
  font-weight: bold;
  width: 80%;
  margin-left: -15px;
  padding: 30px 45px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-sizing: border-box;
}
.account-container span {
  font-size: 12px;
  font-weight: normal;
  color: #7b7b7b;
}
.account-container > .account-amount {
  font-size: 24px;
  margin-top: 5px;
}
.account-container > .account-no,
.account-container > .account-name {
  margin-top: 10px;
}
.transaction-container {
  position: relative;
  margin-top: 60px;
  padding: 0px 30px;
}
.transaction-container > h2 {
  font-size: 18px;
  margin: 0px;
}