.main-container {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 768px;
  height: 100%;
  margin: auto;
  padding: 0px 15px 60px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
}
.main-container .navigation-container {
  position: relative;
  padding: 20px 0px;
}
.main-container .navigation-container button[class~="btn-link"] {
  display: block;
  background-color: transparent;
  font-size: 17px;
  font-weight: bold;
  color: #000000;
  padding: 0px;
  border: 0px;
  text-decoration: none;
  cursor: pointer;
}
.main-container .navigation-container > div > button > svg {
  display: block;
}
.main-container header h1 {
  font-size: 32px;
  margin: 0px 0px 40px;
}