html {
  font-size: 14px;
  line-height: 1.2;
  height: 100%;
}
body,
#root {
  height: 100%;
}
.d-flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.form-container {
  position: relative;
}
.err-msg {
  display: none;
  font-size: 12px;
  font-weight: bold;
  color: #fe3636;
  margin-top: 5px;
}
.err-msg.show {
  display: block;
}
footer > a {
  text-decoration: none;
}